<!DOCTYPE html>
<html
  lang="en"
  xmlns="https://www.thymeleaf.org"
  xmlns-layout="http://www.ulteaq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <section layout:fragment="container">
      <h1 class="my-3" th:text="${title}"></h1>
      <div>
        <button type="button" class="btn btn-primary my-3" onclick="openForm()">
          Add User
        </button>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Publisher Books</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="author, iter : ${authors}">
              <th scope="row" th:text="${iter.count}"></th>
              <td th:text="${author.name}"></td>
              <td th:text="${author.publishedBooks}"></td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-primary"
                  th:value="${author.id}"
                  onclick="editForm(this.value)"
                >
                  <!-- <i class="bi bi-eye"></i> -->
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  th:value="${author.id}"
                  onclick="deleteForm(this.value)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="myModalLabel"></h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
      <script th:src="@{/js/author.js}"></script>
    </section>
  </body>
</html>
